.post-video {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.post-video video {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.post-video-mute-button {
  display: flex;
  position: absolute;
  right: 14px;
  bottom: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #070a0d;
  width: 30px;
  height: 30px;
}

.post-video-mute-icon {
  width: 18px;
  height: 18px;
  fill: #fffeff;
}
