body {
  margin: 0;
  background: #1a1a1a;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;

  /* Disable text selection. */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  /* Disable button highlight effect on iOS. */
  -webkit-tap-highlight-color: transparent;
}

img {
  /* Disable image selection. */
  pointer-events: none;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
  background: #ccccd4;
  max-width: 390px;
  height: 100dvh;

  /* Disable scrollbar and overscroll behavior. */
  overflow-y: scroll;
  overscroll-behavior: none;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  #root {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 767px) {
  #root {
    max-width: 100%;
  }
}
